*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight:300;
}

header{
  border-bottom: 1px solid #e6e6e6;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 2rem;
}

.title-name{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

ion-icon{
  font-size: 2rem;
  opacity: .7;
}
.html5{
  color:#e34c26;
}
.css3{
  color:#264de4;
}
.js{
  color:#F0DB4F;
}

.main{
  max-widtH: 750px;
  display: block;
  margin: auto;
}

img{
  height:300px;
  border-radius:50%;
}

.row-html, .row-js{
  display: flex;
  align-items: center;
  padding-block: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.description, .assignments{
  flex: 1;
}
.description{
  background:#fec89a;
  padding:12px;
}
.title-descript{
  font-weight:500;
}
.para-html{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  padding:12px;
}
.assignments{
  display: flex;
  align-items: center;
  padding:12px;
}

.assignments ul{
  background:#3fc1c0;
  width: 350px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
  gap: .25rem;
}
.assignments a{
  text-decoration: none;
  color:white;
  position: relative;
}
.assign-link::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #cbf3f0;
  transform: scale(0);
    transition: transform 250ms ease-in;
}

.assign-item:hover .assign-link::after{
 transform: scale(1);
  transition: transform 250ms ease-in;
}

footer{
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffb4a2;
}

@media only screen and (max-width: 750px){
  .row__html, .row__js{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row-js{
    flex-direction: column-reverse;
  }
  
  .description, .assignments{
  display: block;
    margin: auto;
  }
  
  .description{
    text-align: center;
    max-width: 325px;
  }
}
